/* 
  Global styles 
*/

:root {
  --stage-max:  120rem;

  --c-gray-dk: #080808;
  --c-white: #fff;
  --c-blue: #369fb9;

  --font-weight-normal: 400; /* The only serif weight */
  --font-weight-light: 300; /* 'Normal' for sans */
  --font-weight-bold: 700; /* Sans only */

  /* 
  These are defined in layout.tsx via 'next/font/google'
  --font-serif: 'Crimson Text';
  --font-sans: 'Mukta'; 
  */
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  /* The old set-it-to-10px-so-I-can-calc-rems-in-my-head trick */
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-light);

  @media (min-width: 768px) {
    font-size: 2.2rem;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  margin-bottom: 1.8rem;
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  text-wrap: balance;
}

h1,
h2 {
  font-family: var(--font-serif);
  font-weight: var(--font-weight-normal);
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

h1 {
  margin-bottom: 3rem;
  font-size: 4.4rem;

  @media (min-width: 768px) {
    font-size: 7.2rem;
  }
}

h2 {
  margin-bottom: 2rem;
  font-size: 3rem;

  @media (min-width: 768px) {
    font-size: 4.8rem;
  }
}

h3 {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.01em;
  color: var(--c-white);

  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}

ul {
  list-style-type:  none;
}

ul,
li {
  padding:  0;
}
